<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <contextName>logback</contextName>

    <springProperty scope="context" name="LOG_HOME" source="server.log-dir" />
    <springProperty scope="context" name="SERVER_NAME" source="spring.application.name" />
    <springProperty scope="context" name="SERVER_PORT" source="server.port" />

    <property name="log_dir" value="${LOG_HOME:-/data/logs}/${SERVER_NAME}-${SERVER_PORT}/"/>
    <property name="maxHistory" value="7"/>
    <property name="pattern" value="[%X{requestId}] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{10} - %msg%n"/>
    <property name="console-pattern" value="%blue([%X{requestId}]) %green(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %logger{10} - %msg%n"/>


    <!--输出到控制台-->:
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>${console-pattern}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="LOG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/server-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>${maxHistory}</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxFileSize>500MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!--FILE ERROR-->
    <appender name="FILE-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/error-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>${maxHistory}</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxFileSize>500MB</maxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="FILE-WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${log_dir}/warn-%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>${maxHistory}</MaxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
            <maxFileSize>500MB</maxFileSize>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="java.sql.PreparedStatement" value="DEBUG"/>
    <logger name="java.sql.Connection" value="DEBUG"/>
    <logger name="java.sql.Statement" value="DEBUG"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="io.lettuce.core.protocol" level="ERROR"/>
    <logger name="com.obs.services.AbstractClient" level="INFO"/>
    <logger name="com.obs.services.internal.RestStorageService" level="WARN"/>
    <logger name="com.obs.log.AccessLogger" level="ERROR"/>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="FILE-ERROR"/>
        <appender-ref ref="FILE-WARN"/>
        <appender-ref ref="LOG-FILE"/>
    </root>
</configuration>
