<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m7.abs.admin.mapper.AccountChannelConfMapper">

    <select id="findByPage" resultType="com.m7.abs.admin.domain.dto.AccountChannelConfPageDTO">
        SELECT
        acConf.*,
        account.name AS accountName,
        channel.name AS channelName
        FROM
        account_channel_conf acConf
        LEFT JOIN account account ON account.id= acConf.account_id AND account.deleted = 0
        LEFT JOIN channel channel ON channel.id= acConf.channel_id AND channel.deleted = 0
        <where>
            acConf.deleted = 0
            <if test="ew.emptyOfWhere == false">
                AND ${ew.sqlSegment}
            </if>
        </where>
        ORDER BY
        acConf.create_time DESC
    </select>

</mapper>
