<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m7.abs.admin.mapper.FlashSmDeliveryTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.m7.abs.common.domain.entity.FlashSmDeliveryTaskEntity">
        <result column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="channel_task_id" property="channelTaskId"/>
        <result column="create_time" property="createTime"/>
        <result column="channel_id" property="channelId"/>
        <result column="notify_url" property="notifyUrl"/>
        <result column="template_id" property="templateId"/>
        <result column="cdr_push_task_id" property="cdrPushTaskId"/>
        <result column="receive_notify_time" property="receiveNotifyTime"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        account_id, channel_task_id, create_time, channel_id, notify_url, template_id, cdr_push_task_id, receive_notify_time, status
    </sql>

</mapper>
