<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.m7.abs.admin.mapper.FlashSmCdrReportMapper">
    <select id="selectReportByHour" parameterType="com.m7.abs.admin.domain.vo.report.ReportSearchVO"
            resultType="com.m7.abs.admin.domain.dto.FlashSmReportDTO">
        SELECT
        date_time AS dateTimeStr,
        total_count,
        complete,
        fail,
        carrier_unicom,
        carrier_telecom,
        carrier_mobile,
        carrier_unknown
        FROM
        flash_sm_cdr_report
        <where>
            <if test="ew.emptyOfWhere == false">
                AND ${ew.sqlSegment}
            </if>
        </where>
        ORDER BY date_time DESC
    </select>

    <select id="selectReportByDay" parameterType="com.m7.abs.admin.domain.vo.report.ReportSearchVO"
            resultType="com.m7.abs.admin.domain.dto.FlashSmReportDTO">
        SELECT
        SUBSTRING( date_time, 0, 11 ) AS dateTimeStr,
        SUM(total_count) AS total_count,
        SUM(complete) AS complete,
        SUM(fail) AS fail,
        SUM(carrier_unicom) AS carrier_unicom,
        SUM(carrier_telecom) AS carrier_telecom,
        SUM(carrier_mobile) AS carrier_mobile,
        SUM(carrier_unknown) AS carrier_unknown
        FROM
        flash_sm_cdr_report
        <where>
            <if test="ew.emptyOfWhere == false">
                AND ${ew.sqlSegment}
            </if>
        </where>
        GROUP BY dateTimeStr
        ORDER BY dateTimeStr DESC
    </select>

    <select id="selectReportByMonth" parameterType="com.m7.abs.admin.domain.vo.report.ReportSearchVO"
            resultType="com.m7.abs.admin.domain.dto.FlashSmReportDTO">
        SELECT
        SUBSTRING( date_time, 0, 8 ) AS dateTimeStr,
        SUM(total_count) AS total_count,
        SUM(complete) AS complete,
        SUM(fail) AS fail,
        SUM(carrier_unicom) AS carrier_unicom,
        SUM(carrier_telecom) AS carrier_telecom,
        SUM(carrier_mobile) AS carrier_mobile,
        SUM(carrier_unknown) AS carrier_unknown
        FROM
        flash_sm_cdr_report
        <where>
            <if test="ew.emptyOfWhere == false">
                AND ${ew.sqlSegment}
            </if>
        </where>
        GROUP BY dateTimeStr
        ORDER BY dateTimeStr DESC
    </select>
</mapper>
